@charset "utf-8";
/* VisBug Overrides (TEST) */
body { outline: 6px solid red !important; }

/* Saved: 2026-01-12 22:28:26 */
body{outline:5px solid red !important;}


/* Saved: 2026-01-12 22:44:28 */
body[data-form="unknown_form"] #btnELGesendet{
  position:absolute !important;
  left:937px !important;
  top:20px !important;
}



