<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zusatzdateien (sub_ZusatzDateien)</title>
    <link rel="stylesheet" href="sub_ZusatzDateien.css">
    <link rel="stylesheet" href="../theme/consys_theme.css">
</head>
<body>
    <div class="subform-container" id="sub_ZusatzDateien">
        <div class="datasheet-container">
            <table class="datasheet" id="tbl_Zusatz">
                <thead>
                    <tr>
                        <th class="col-hidden">ZusatzNr</th>
                        <th class="col-hidden">TabellenID</th>
                        <th class="col-hidden">Überordnung</th>
                        <th class="col-datei">Dateiname</th>
                        <th class="col-datum">Dateidatum</th>
                        <th class="col-länge">Größe</th>
                        <th class="col-typ">Typ</th>
                        <th class="col-beschreib">Kurzbeschreibung</th>
                    </tr>
                </thead>
                <tbody id="tbody_Zusatz">
                </tbody>
            </table>
        </div>
    </div>
    <script type="module" src="sub_ZusatzDateien.logic.js"></script>
</body>
</html>
